extends layout

block content
  #map
    script.
      L.mapbox.accessToken = 'pk.eyJ1IjoiZXZhaG5pOCIsImEiOiJjaWZ6OHgwbG4wMmc1dG1tN3h4YnpxajlqIn0.ay9PDyLuYmcX1vIUE8QEwg';
      var map = L.mapbox.map('map').setView([48.1567,17.1189], 14).addLayer(L.mapbox.tileLayer('mapbox.light'));

  #menu
    p#nadpis Slovak Castles
    button(type='button', onclick='vratData("/castles")') all castles as points
    button(type='button', onclick='vratData("/castles-poly")') castles with their objects (if present)
    button(type='button', onclick='vratData("/hospitals")') všetky zariadenia
    button(type='button', onclick='vratData("/allHealthCare")') všetko naraz
    button(type='button', onclick='vratData("/pharmacyInHospital")') lekárne vo vnútri nemocníc
    fieldset
      legend Zobraziť hrady v krajoch
      .div  
        button.vriadku(type='button', onclick='nearPharmacy()') zobraz
        select#closePharmacy.vriadku

  #target