body {
  padding: 50px;
  font: 14px Impact, Charcoal, sans-serif;
}


a {
  color: #00CBFF;
}

#nadpis {
  color: lightblue;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}

button, select, input {
  color: #00CBFF;
  background-color: white;
  border: 1px solid lightblue;
  font: 20px Impact, Charcoal, sans-serif;
  width: 90%;
  position: relative;
  vertical-align: center;
  padding: 5px;
  margin: 5%;
  margin-top:2%;
  }
  
button:hover {
  background-color: #222222;
  border: 1px solid lightblue;
  color: lightblue;
}

fieldset {
  color: #00CBFF;
  border: 1px solid lightblue;
  margin: 5%;
}

select, input {
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 1%;
  margin-bottom: 1%;
}

input {
  width: 40%;
  float: left;
  display: inline-block;
  margin-right: 1%;
}

.vriadku {
  font-size: 15px;
  display: inline-block;
  float: right;
  width: 40%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;

}

#menu {
  background-color: #222222;
  color: white;
}

.my-legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
  }
.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
  }
.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
  }
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
  }
.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
  }
.my-legend a {
  color: #777;
  }
